.nav-account {
  @include flex;
  height: $nav-height;
  position: relative;

  &:hover {
    cursor: pointer;

    .nav-dropdown {
      margin-top: -0.5rem;
      opacity: 1;
      transition: margin $base-transition, opacity $base-transition, visibility 0s;
      visibility: visible;
    }
  }
}

.nav-dropdown {
  @include position(absolute, 100% 50% null null);
  border-radius: $base-border-radius;
  box-shadow: $card-shadow;
  opacity: 0;
  transform: translateX(50%);
  transition: margin $base-transition, opacity $base-transition, visibility 0s $base-duration;
  visibility: hidden;

  &::before {
    @include position(absolute, null 50% 100% null);
    @include triangle(8px, $white, up);
    content: "";
    transform: translateX(50%);
  }

  li {
    overflow: hidden;
    position: relative;

    &:first-child {
      @include border-top-radius($base-border-radius);
    }

    &:last-child {
      @include border-bottom-radius($base-border-radius);
    }

    &:not(:first-child) {
      box-shadow: $list-shadow;
    }
  }
}

.nav-dropdown-link {
  $size: $xs-font-size;
  @include flex;
  @include padding(null $size * 2);
  background-color: $white;
  font-size: $size;
  font-weight: 400;
  height: $size * 3;
  transition: background-color $base-transition;
}
