.nav-account {
  @include flex;
  height: $nav-height;
  position: relative;

  &:hover {
    cursor: pointer;

    .avatar {
      background-color: $tertiary-color;
    }

    .nav-dropdown {
      margin-top: -0.75rem;
      opacity: 1;
      transition: margin $base-transition, opacity $base-transition, visibility 0s;
      visibility: visible;
    }
  }

  .avatar {
    background-color: white;
    padding: 2px;
    transition: background-color $base-transition;
  }
}

.nav-dropdown {
  @include position(absolute, 100% (-$small-spacing) null null);
  border-radius: $base-border-radius;
  box-shadow: $card-shadow;
  opacity: 0;
  transition: margin $base-transition, opacity $base-transition, visibility 0s $base-duration;
  visibility: hidden;

  &::before {
    @include position(absolute, null $base-spacing 100% null);
    @include triangle(10px, $white, up);
    content: "";
    transform: translateX(50%);
  }

  li {
    overflow: hidden;
    position: relative;

    &:first-child {
      @include border-top-radius($base-border-radius);
    }

    &:last-child {
      @include border-bottom-radius($base-border-radius);
    }

    &:not(:first-child) {
      box-shadow: $list-shadow;
    }
  }
}

.nav-dropdown-link {
  @include flex(flex-end);
  @include padding(null $base-spacing);
  background-color: $white;
  font-size: $small-font-size;
  font-weight: 400;
  height: $small-font-size * 3;
  transition: background-color $base-transition;
}
