.page-header {
  background-color: tint($base-background-color, 50%);
  box-shadow: $card-shadow, 0 0 $large-spacing rgba($black, 0.04);
  padding: ($nav-height + $base-spacing) $small-spacing 0;
}

.page-header-inner {
  @include flex(space-between, flex-end);
  @include padding(null $base-spacing);
  color: $action-color;
  margin: $base-spacing auto;
  max-width: $max-width;

  h1 {
    @include flex(flex-start);
    font-size: rem(40);
    font-weight: 100;
    line-height: (50 / 40);
    margin: 0;
  }

  svg {
    @include size(rem(40));
    margin-right: $small-spacing;
  }

  span {
    opacity: 0.5;
  }
}
