.page-nav {
  @include padding(null $small-spacing);
  box-shadow: inset 0 -1px $light-border-color;

  ul {
    @include flex(flex-start);
    @include margin(null auto);
    max-width: $max-width;
    padding-left: $base-spacing;
  }

  li {
    margin-right: $base-spacing;
  }
}
