pre.console
  | console output
    console output
    console output
    console output
    console output
    console output
    console output
    console output
    console output
    console output
    console output
