.app-list {
  @extend %card;

  li {
    @include flex;
    padding: $small-spacing;

    &:not(:first-child) {
      box-shadow: $list-shadow;
    }
  }

  svg {
    @include size($base-spacing);
    fill: currentColor;
  }
}

.app-list-primary,
.app-list-secondary {
  align-items: center;
  display: flex;
}

.app-list-primary {
  flex: 3;
  justify-content: flex-start;
}

.app-list-secondary {
  flex: 2;
  justify-content: space-between;
}

.app-list-site,
.app-list-repo {
  padding: 0 $small-spacing;
}

.app-list-site {
  @include flex;
}

.app-list-repo {
  span,
  strong {
    display: inline-block;
  }

  span {
    opacity: 0.5;
  }

  strong {
    font-weight: 400;
  }
}

.app-list-branch {
  font-size: $small-font-size;
  opacity: 0.8;
}

.app-list-actions {
  @include flex(flex-end);
  padding: 0 $small-spacing;

  button:not(:first-child) {
    margin-left: $base-spacing;
  }
}
