.button,
#{$all-buttons} {
  @include flex;
}

.button-block {
  display: block;
  width: 100%;

  & + & {
    margin-top: $small-spacing;
  }
}

.button-circle {
  @include size($base-spacing);
  background-color: rgba($black, 0.04);
  border-radius: 50%;
  color: $medium-gray;
  font-size: $base-spacing;
  padding: 0;
  transition: background-color $base-transition, color $base-transition;

  &:hover {
    background-color: $action-color;
    color: $white;
  }

  &.delete:hover {
    background-color: $error-color;
    color: $white;
  }

  svg {
    @include size(1rem);
  }

  &.large {
    @include size($large-spacing);

    svg {
      @include size(1.5rem);
    }
  }
}

.button-icon {
  @include size($large-spacing);
  background-color: transparent;
  color: $action-color;
  padding: 0;

  &:hover {
    background-color: transparent;
    color: darken($action-color, 5%);
  }

  &:disabled {
    color: $medium-gray;
  }

  svg {
    @include size(3rem);
  }
}

.button-fill {
  background-color: rgba($black, 0.04);
  color: $action-color;

  &:hover {
    background-color: $action-color;
    color: $white;
  }
}

.button-small {
  font-size: $xxs-font-size;
  padding: $smallest-spacing $small-spacing;
}
