.button-block {
  display: block;
  width: 100%;

  & + & {
    margin-top: $small-spacing;
  }
}

.button-circle,
.button-delete,
.button-dismiss {
  @include flex;
  @include size($base-spacing);
  border-radius: 50%;
  font-size: $base-spacing;
  padding: 0;
  transition: background-color $base-transition, color $base-transition;

  svg {
    @include size(1rem);
  }

  &.large {
    @include size($large-spacing);

    svg {
      @include size(1.5rem);
    }
  }
}

.button-circle {
  background-color: $light-border-color;
  color: $base-font-color;

  &:hover {
    background-color: $action-color;
    color: $white;
  }
}

.button-delete {
  background-color: $light-border-color;
  color: $medium-gray;

  &:hover {
    background-color: $error-color;
    color: $white;
  }
}

.button-dismiss {
  background-color: $light-border-color;
  color: $white;

  &:hover {
    background-color: $base-border-color;
    color: $white;
  }
}

.button-icon {
  @include flex;
  @include size($large-spacing);
  background-color: transparent;
  color: $action-color;
  padding: 0;

  &:hover {
    background-color: transparent;
    color: darken($action-color, 5%);
  }

  &:disabled {
    color: $medium-gray;
  }

  svg {
    @include size(3rem);
  }
}

.button-fill {
  background-color: $light-border-color;
  color: $action-color;

  &:hover {
    background-color: $action-color;
    color: $white;
  }
}

.button-large {
  font-size: $large-font-size;
  font-weight: 300;
  padding: $base-spacing;

  &:hover {
    background-color: darken($white, 5%);
  }
}

.button-reverse {
  background-color: $white;
  color: $action-color;
}

.button-small {
  font-size: $xxs-font-size;
  padding: $smallest-spacing $small-spacing;
}
