.copy-wrapper {
  @include media($large-screen-up) {
    @include flex(space-between, flex-start);
    flex-wrap: wrap;
  }
}

.copy {
  @extend %card;
  flex: 1 0 18rem;
  padding: $small-spacing $base-spacing;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include margin($base-spacing null $small-spacing);
  }

  h1 {
    font-size: rem(33);
    line-height: (40 / 33);
  }

  h2 {
    font-size: rem(25);
    line-height: (30 / 25);
  }

  h3 {
    font-size: rem(21);
    line-height: (30 / 21);
  }

  h4 {
    font-size: rem(19);
    line-height: (30 / 19);
  }

  h5 {
    font-size: rem(15);
    line-height: (20 / 15);
  }

  h6 {
    font-size: rem(13);
    font-weight: 600;
    line-height: (20 / 13);
  }

  p {
    font-size: rem(17);
    line-height: (30 / 17);
  }

  ul {
    @extend %default-ul;
  }

  ol {
    @extend %default-ol;
  }

  li {
    @include margin($smallest-spacing 0);
    font-size: rem(17);
    line-height: (30 / 17);
  }
}

.copy-nav {
  flex-basis: 18rem;
  margin-top: $base-spacing;

  @include media($large-screen-up) {
    margin-left: $base-spacing;
    margin-top: 0;
  }

  li {
    font-size: rem(14);
    font-weight: 400;
    line-height: (20 / 14);
    margin-top: 1px;
  }

  a {
    background-color: $faint-border-color;
    box-shadow: inset 1px 0 rgba($action-color, 0.1);
    display: block;
    padding: $small-spacing $base-spacing;
    transition: box-shadow $base-transition;

    &:hover {
      box-shadow: inset 3px 0 rgba($action-color, 0.1);
    }

    &.active {
      box-shadow: inset 3px 0 $action-color;
    }
  }
}

.copy-nav-header {
  background-color: $faint-border-color;
  box-shadow: inset 3px 0 $action-color;
  font-weight: 300;
  margin-bottom: 0;
  padding: $small-spacing $base-spacing;
}
