.copy-wrapper {
  @include media($large-screen-up) {
    @include flex(space-between, flex-start);
    flex-wrap: wrap;
  }
}

.copy {
  @extend %card;
  flex: 1 0 18rem;
  padding: $small-spacing $base-spacing;

  ul {
    @extend %default-ul;
  }

  ol {
    @extend %default-ol;
  }
}

.copy-nav {
  flex-basis: 18rem;
  margin-top: $base-spacing;

  @include media($large-screen-up) {
    margin-left: $base-spacing;
    margin-top: 0;
  }

  li {
    font-size: rem(14);
    font-weight: 400;
    line-height: (20 / 14);
    margin-top: 1px;
  }

  a {
    background-color: $faint-border-color;
    box-shadow: inset 1px 0 rgba($action-color, 0.1);
    display: block;
    padding: $small-spacing $base-spacing;
    transition: box-shadow $base-transition;

    &:hover {
      box-shadow: inset 3px 0 rgba($action-color, 0.1);
    }

    &.active {
      box-shadow: inset 3px 0 $action-color;
    }
  }
}

.copy-nav-header {
  background-color: $faint-border-color;
  box-shadow: inset 3px 0 $action-color;
  font-weight: 300;
  margin-bottom: 0;
  padding: $small-spacing $base-spacing;
}
