.delete {
  @include flex;
  @include size($base-spacing);
  background-color: transparent;
  border-radius: 50%;
  color: $medium-gray;
  font-size: $base-spacing;
  line-height: $base-spacing;
  padding: 0;
  transition: background-color $base-transition, color $base-transition;

  &:hover {
    background-color: $error-color;
    color: $white;
  }

  svg {
    @include size(1rem);
    fill: currentColor;
  }
}
