.fixed-header {
  @include padding(null $small-spacing);
  @include position(fixed, 0 0 null 0);
  background-color: $action-color;
  box-shadow: 0 2px $tertiary-color;
  z-index: $fixed-header-z-index;
}
