.footer {
  background-color: $medium-gray;
  box-shadow: inset 0 1px rgba($dark-gray, 0.5);
  color: rgba($white, 0.4);
  padding: $base-spacing;
  text-align: center;

  svg {
    @include margin($small-spacing null 0);
    @include size($logo-size);
  }

  h6 {
    @include margin($small-spacing null);
  }
}
