.home-section {
  background-color: $white;
  padding: $xl-spacing $large-spacing;

  &:nth-child(odd) {
    background-color: lighten($off-white, 1%);
  }
}

.home-section-inner {
  @include margin(null auto);
  max-width: $max-width * 0.75;

  & + & {
    margin-top: $base-spacing;
  }
}

.home-section-reverse {
  background-color: $action-color;
  color: $white;
}
