.button,
#{$all-buttons} {
  appearance: none;
  background-color: rgba($action-color, 0.03);
  border: 0;
  border-radius: $base-border-radius;
  color: $action-color;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $xs-font-size;
  font-weight: 400;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-transition, color $base-transition;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: $action-color;
    color: $white;
  }

  &:disabled {
    cursor: default;
    opacity: 0.25;
    pointer-events: none;
  }
}
