%card,
.card {
  background-color: $white;
  border-radius: $base-border-radius;
  box-shadow: $card-shadow;
}

%card-footer {
  background-color: rgba($dark-gray, 0.015);
  box-shadow: inset 0 1px $light-border-color;
}

%inset-card {
  background-color: $faint-border-color;
  border-radius: $base-border-radius;
  box-shadow: inset $card-shadow;
}
