.modal-overlay {
  @include padding($modal-margin null);
  @include position(fixed, 0);
  background-image: linear-gradient($action-color, $dark-action-color);
  opacity: 0;
  transition: opacity $base-transition, visibility 0s $base-duration;
  visibility: hidden;
  z-index: $modal-overlay-z-index;

  .modal-active & {
    opacity: 1;
    transition: opacity $base-transition, visibility 0s;
    visibility: visible;
  }
}
