section.cover.get-started
  .cover-content
    p Try Enterprise now, free for 90-days (free for open source projects).
    = link_to "Get Started Now", "#register", class: "button button-large button-reverse modal-toggle"
