section.cover.get-started
  .cover-content
    p Extending this logic, a veterinarian is an unasked basket.
    = link_to "Get Started Now", "#register", class: "button button-large button-reverse modal-toggle"
