section.home-section.home-section-reverse
  header.home-header.home-section-inner
    h2 Extending this logic, a veterinarian is an unasked basket.
    = link_to "Get Started Now", "#register", class: "button button-large button-reverse modal-toggle"
