.app-list-footer {
  @extend %card-footer;
  @include padding($xs-spacing $base-spacing);
}

.app-list-address {
  @include flex(flex-start);
  color: rgba($base-font-color, 0.4);
  font-size: $xs-font-size;
  font-weight: 400;
  line-height: $small-spacing;
  overflow: hidden;
  white-space: nowrap;

  &:hover {
    color: rgba($base-font-color, 0.6);
  }

  svg {
    flex: 0 0 rem(13);
    height: rem(13);
    margin-right: rem(12);
  }
}

.app-list-repo,
.app-list-branch {
  margin-left: 0.25em;
}
